#resources_container{
    .operations{
        .content{
            @include transition($transition-base);

            code.code-signature{
                padding: 0.5em 0.5em 0.3em;
            }
        }
        .divider{
            @include make-row();
            background: rgba($hljs-bg,0.5);
            height: 1px;
        }
    }
}
