@include media-breakpoint-up(lg) {
  html {
    height: 100%;
    body{
      height: 100%;
      position: relative;

      #main-nav{
        z-index: $zindex-fixed;
      }

      main{
        height: 100%;

        #swagger-ui-container{
          height: 100%;

          #swagger_sidebar{
            position: sticky;
            left: 0;
            top: 0;
            overflow-y: scroll;

            &.sps--blw{
              position: fixed;
              height: 100%;
              padding-top: 0;
            }

            &.sps--abv{
              position: absolute;
              height: 100%;
              top: 54px;
            }
          }

          #resources_container{
            &.sps--blw,
            &.sps--abv{
              margin-left: 25%;

              @include media-breakpoint-up(xl) {
                  margin-left: 16.66667%;
              }
            }
          }
        }
      }
    }
  }
}