<a class="nav-link {{#ifCond this.nmbr '==' 0}}active{{/ifCond}} collapsed text-capitalize" href="#collapse_{{this.name}}" data-toggle="collapse" data-parent="#resources_nav">{{this.name}}</a>
<div class="collapse {{#ifCond this.nmbr '==' 0}}show{{/ifCond}} pl-3" id="collapse_{{this.name}}" role="tabpanel">
    <nav class="nav flex-column sub_menu"></nav>
</div>