.samples{
    background: lighten($hljs-bg, 10%);
    @include transition($transition-base);

    .sample-item{
        h6{
            a{
                color: #fff;
                font-size: $font-size-sm;
                text-decoration: none;
            }
        }
    }
}